#djinn_ie_form {
    display: none; 
    position: absolute;
    z-index: 666;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #505050;
    box-shadow: 5px 5px #c0c0c0;
    border-radius: 5px;
}

.inlinerecordswidget .controls {
    float: right;
}

.djinn_ie_editable .controls * {
    float: left;
    margin-right: 5px;
}

.djinn_ie_editable {
    clear: both;
}

.djinn_ie_addable li {
    list-style: none;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.djinn_ie_addable li.selected {
    background-color: #c0c0c0;
}

.djinn_ie_addable li:hover {
    background-color: #c0c0c0;
}